@media (max-width: 1050px) {
    .section-1 {
        flex-direction: column; 
        text-align: start; 
        img {
            width: auto;
        }
    }

    .text {
        width: 100%;
        padding: 10px; 
    }

    .text p {
        text-align: justify;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        padding: 10px;
    }

    .nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .sidenav {
        justify-content: center; 
        margin-top: 10px;
    }
    
    .last {
        display: none; 
    }
}

@media (max-width: 768px) {
    .oneline {
        display: block;
        width: auto;
    }
}

@media (max-width: 500px) {
    .oneline{
        ul {
            padding-right: 60px;
        }

        li {
            padding: 0 5%;
            margin: 0 10px;
        }
    }
}


@media (max-width: 768px) {
    

    .aside-details {
        gap: 8px; 
    }

    .aside-details a {
        font-size: 14px;
    }

    .aside-details h3 {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    .main-content {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
  }

  
  @media (max-width: 768px) { 
    .aside {
        display: none;
        padding: 10px;
    }
    .main-content {
      grid-template-columns: 1fr;
    }

    .watch {
        margin-left: -100px;
    }
  }

  @media (max-width: 768px) { 
    .tig {
        margin-left: 0; 
        margin-right: auto; 
        margin-left: auto;
        width: 100%; 
        padding: 0 10px;
    }
}
 
@media (max-width: 1024px) {
    .youtube-wrapper {
        grid-column: 2; 
        grid-row: 2;
    }

    .youtube-wrapper2 {
        grid-column: 2; 
        grid-row: 2;
    }
}

@media (max-width: 768px) { 
    .oneline {
        transform: translate(-7%);
    }
    .main-content {
        grid-template-columns: 1fr; 
        transform: translateX(-23%);
    }

    .youtube-wrapper {
        grid-column: 1 / -1;
        margin-bottom: 10px;
    }
    .youtube-wrapper2 {
        grid-column: 1 / -1; 
        margin-bottom: 10px;
    }

    .watch-large {
        grid-column: 1 / -1; 
        margin-top: 5px; 
    }

    .watch {
        margin-left: 0; 
        width: 100%;
    }

    .text {
        width: 100%;
        padding: 5px; 
    }
}

